body{
    background-color:lightblue;
}
    
.Table1{
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    flex-basis: 100%;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
ul{   
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 10px;
}

article{
    display: grid;
    font-family: "Montserrat", sans-serif;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 50px 1fr ;
}

#Header2{
    grid-column: 3/4;
    grid-row: 1/2;
}

#Table2{
    grid-column: 1/4;
    grid-row: 2/3;
}

#Table3{
    grid-column: 1/4;
    grid-row: 3/4
}

#Table4{
    grid-column: 3/4;
    grid-row: 4/5;
}

img{
    grid-column: 4/4;
    grid-row: 2/3;
}

