body{
    background-color:rgb(189, 189, 147)
}
h1{
    color:rgb(50, 90, 221);
}
h2{
    color:rgb(50, 90, 221)
}
h3{
    color:rgb(219, 91, 27)
}
p{
    color:#c02fb8;
}
ol{
    color:rgb(44, 227, 224)
}