body{
    background-color:rgb(221, 221, 193);
}
h1{
    color:rgb(27, 51, 70);
    text-align: center;
}
h2{
    color:rgb(27, 51, 70);
}
h3{
    color:rgb(41,41,41);
}
p{
    color:#671963;
}
ol{
    color:rgb(105, 13, 119);
}